// Place all the styles related to the Snippet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_snippet {
	label {
		float: left;
		margin-top: 10px;
	}

	input.private {
		float: left;
		margin-top: 11px;
		margin-left: 10px;
	}

	input.btn {
		width: 100%;
		margin-top: 10px;
	}
}

#error_explanation {
	ul {
		li {
			text-align: left;
		}
		list-style: none;
	}
	.alert-error {
		background: #F08080;
		color: white;
	}
}

.snippet-information {
	width: 45%;
	margin: auto;
	margin-bottom: 10px;

	.panel-body {
		text-align: left;

		.info-label {
			font-weight: bold;
		}
	}
}

pre.code-block {
	width: 45%;
	margin: auto;
	margin-bottom: 20px;
}

ul.snippets {
	width: 30%;
list-style: none;
text-align: left;
margin: auto;
}
ul.snippets li {padding: 10px;}
.snippet-list-language {font-weight: bold;}
ul.snippets li.odd {background:#dedede;}
